# Dataset
data/
dataset/

# Model và kết quả train
outputs/
runs/
*.pth
*.pt
*.ckpt

# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Environment variables
.env